.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  background: $c-primary;
  color: $c-pure-white;

  a {
    color: $c-pure-white;
    text-decoration: none;
  }

  &__header {
    margin: 0 0.5rem;
  }

  &__list {
    display: flex;

    &--item {
      margin: 0 0.5rem;
    }
  }
}

.section {
  padding: 1rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.users {
  border-bottom: 0.2rem solid $c-secondary;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  &__item {
    display: flex;
    flex-basis: calc(100% / 4 - 2rem);
    flex-grow: 1;
    align-items: flex-start;
    margin: 1rem;
    border-radius: 0.2rem;
    background: $c-pure-white;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    &--name {
      margin: 0;
    }

    a {
      color: $c-secondary;
    }
  }

}

.image {
  max-width: calc(7rem - 2rem);
}

.user-container {
  display: flex;
  padding: 1rem;
}
