{% extends "layout" %}

{% block content %}

  {{ form.open({ action: 'RegisterController.store'}) }}
  {{ csrfField }}
  <div class="content-container">
    <h2 class="container__form-header">Create an Account</h2>

    <div class="form-container">
      <div class="form-group">
        {{ form.label('username', 'username') }}
        {{ form.text('username', null, {class: 'form-control', placeholder: 'choose a username' }) }}
      </div>

      <div class="form-group">
        {{ form.label('email', 'email') }}
        {{ form.text('email', null, {class: 'form-control', placeholder: 'youremail@here.now' }) }}
      </div>

      <div class="form-group">
        {{ form.label('password', 'password') }}
        {{ form.password('password', null, {class: 'form-control', placeholder: 'Try a passphrase' }) }}
      </div>

      <div class="button-container">
        <div class="button">
          {{ form.submit('Login', null, { class: 'btn btn-success'}) }}
        </div>

        <div class="button_signup">
          {{ form.submit('Sign Up', null, { class: 'btn btn-primary'}) }}
        </div>
      </div>
    </div>
  </div>
  {# </div>
  </div> #}
  {{ form.close() }}
  {# </form> #}
{% endblock %}
