{% extends "layout" %}

{% block content %}
  <section class="section">

    <div class="container">

      <h1 class="users">Users</h1>

      <div class="row">

        {% for item in users %}

          <div class="row__item">
            <div class="user-container">
              <div>
                <img class="image" src="http://placecera.com/300/300" />
              </div>
              <div class="row__container">
                <div class="row__container--name">${{item.username}}</div>
                <div class="row__container--username">{{item.email}}</div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

  </section>
{% endblock %}
