{% extends "layout" %}

{% block content %}
  <section class="section">

    <div class="container">

      <h1 class="users">Users</h1>

      <div class="row">

        {% for item in users %}

          <div class="row__item">
            <div class="user-container">
              <div>
                <img class="image" src="https://media.creativemornings.com/uploads/user/avatar/89900/Profile_picture_square.jpg" alt="">
              </div>
              <div class="row__container">
                <h2 class="row__container--name">{{item.username}}</h2>
                <a href="#" class="row__container--username">{{item.email}}</a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

  </section>
{% endblock %}
